*{
	padding:0;
	margin:0;
	text-decoration:none;
	list-style:none;
	}
	
body{
	overflow-x:hidden;
	
	}
	
#c1{
	position:absolute;
	width:100%;
	height:100vh;
	top:0px;
	left:0px;
	background:url(../img/plano3.jpg) no-repeat;
		background-size: cover;
}
	
#c2{
	position:absolute;
	width:100%;
	height:100vh;
	top:0px;
	left:0px;
	background:url(../img/plano2.png) no-repeat;
		background-size: cover;
	}
	
	
#c3{
	position:absolute;
	width:100%;
	height:100vh;
	top:0px;
	left:0px;
	background:url(../img/plano1.png) no-repeat;
	background-size: cover;
}