*{
	margin:0;
	padding:0;
	list-style:none;
	text-decoration:none;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif
	}
	
form{
	position:relative;
	margin:auto;
	width:30%;
	height:auto;
	padding:2%;
	background:#ddd;
	}
	
.enFoco{
	background:red;
	
	}
	
form h1{
	width:100%;
	line-height:50px;
	background:black;
	text-align:center;
	font-size:20px;
	color:white;
	}
	
input, label, textarea, p{
	display:block;
	position:relative;
	width:93%;
	padding:10px;
	}
	
select{
	display:block;
	width:99%;
	padding:10px;	
	}
	
input[type="checkbox"], input[type="radio"]{
	
	display:none;
	
	}
	
label.box span{	
	display:inline-block;
	width:25px;
	height:25px;
	background:white;
	vertical-align:middle;
	margin-right:10px;
	}
	
label.radio span{	
	display:inline-block;
	width:25px;
	height:25px;
	background:white;
	vertical-align:middle;
	margin-right:10px;
	border-radius:100%;
	}
	
input[type="checkbox"]:checked + label.box span{	

	background:url(../img/box.jpg);
} 

input[type="radio"]:checked + label.radio span{	

	background:url(../img/radio.jpg);
} 

input[type="submit"]{
	margin-top:20px;
	width:98%;
	}
	
form p{
	margin-top:20px;
	border-top:1px solid #aaa;
	}
	
input#nombre{
	text-transform:uppercase;
	}

	input

